<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accès Refusé</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg-light d-flex align-items-center" style="height: 100vh;">

<div class="container text-center">
    <div class="alert alert-danger shadow-sm">
        <h1 class="display-5">🚫 Accès refusé</h1>
        <p class="lead">Vous n’êtes pas autorisé à accéder à cette ressource.</p>
        <a th:href="@{/products}" class="btn btn-primary">⬅ Retour</a>
    </div>
</div>

</body>
</html>
